* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style-type: none;
}
:root {
    --font-family: "Roboto", sans-serif;
    --f-size-s: .875rem;
    --f-size-p: 1rem;
    --f-size-l: 1.25rem;
    --f-size-xl: 1.5rem;
    --f-size-xxl: 2rem;
    --f-font-s: var(--f-size-s)/160% var(--font-family);
    --f-font-p: var(--f-size-p)/160% var(--font-family);
    --f-font-l: var(--f-size-l)/160% var(--font-family);
    --f-font-xl: var(--f-size-xl)/160% var(--font-family);
    --f-font-xxl: var(--f-size-xxl)/160% var(--font-family);
    --green-dark: #015F43;
    --green: #00875F;
    --green-light: #00B37E;
    --red-dark: #AA2834;
    --red-light: #F75A68;
    --background: #121214;
    --shape-principal: #202024;
    --shape-secondary: #29292E;
    --shape-tertiary: #323238;
    --placeholder: #7C7C8A;
    --text-base: #C4C4CC;
    --title: #E1E1E6;
    --white: #FFFFFF;
    --nubank: #800080;
}
body {
    font: var(--f-font-p);
    background: var(--shape-principal);
    color: var(--white);    
    a {
        text-decoration: none;
        color: var(--white);
    }
}